/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

* {
    --azure_a100: #2787f5;
    --black: #000000;
    --black_alpha4: rgba(0, 0, 0, 0.04);
    --black_alpha8: rgba(0, 0, 0, 0.08);
    --black_alpha12: rgba(0, 0, 0, 0.12);
    --black_alpha16: rgba(0, 0, 0, 0.16);
    --black_alpha24: rgba(0, 0, 0, 0.24);
    --black_alpha36: rgba(0, 0, 0, 0.36);
    --black_alpha40: rgba(0, 0, 0, 0.4);
    --black_alpha48: rgba(0, 0, 0, 0.48);
    --black_alpha56: rgba(0, 0, 0, 0.56);
    --black_alpha72: rgba(0, 0, 0, 0.72);
    --black_alpha88: rgba(0, 0, 0, 0.88);
    --black_blue10: #000c1a;
    --black_blue24: #001c3d;
    --black_blue24_alpha8: rgba(0, 28, 61, 0.08);
    --black_blue24_alpha24: rgba(0, 28, 61, 0.24);
    --black_blue30_alpha66: rgba(0, 36, 77, 0.66);
    --black_blue45_alpha10: rgba(0, 57, 115, 0.1);
    --blue_400: #5181b8;
    --blue_400_alpha20: rgba(81, 129, 184, 0.2);
    --blue_400_alpha48: rgba(81, 129, 184, 0.49);
    --blue_420: #4a76a8;
    --blue_600: #2a5885;
    --blue_640: #224b7a;
    --blue_800: #1d3a5c;
    --blue_980_alpha12: rgba(0, 20, 51, 0.12);
    --blue_bright: #5c9ce6;
    --brown_gold: #9e8f72;
    --brown_light: #c2b79f;
    --dark: #19191a;
    --gold_200: #f4e7c3;
    --gold_250: #e3d3ac;
    --gold_300: #d1c097;
    --gold_400: #ab9871;
    --gold_500: #857250;
    --gray: #808080;
    --gray_20: #f9f9f9;
    --gray_40: #f5f5f5;
    --gray_70: #555555;
    --gray_100: #e1e3e6;
    --gray_100_alpha60: rgba(225, 227, 230, 0.6);
    --gray_200: #cccccc;
    --gray_300: #b2b2b2;
    --gray_400: #939393;
    --gray_500: #828282;
    --gray_600: #656565;
    --gray_700: #555555;
    --gray_700_alpha60: rgba(85, 85, 85, 0.6);
    --gray_750: #424242;
    --gray_800: #333333;
    --gray_800_alpha72: rgba(51, 51, 51, 0.72);
    --gray_800_alpha88: rgba(51, 51, 51, 0.88);
    --gray_850: #292929;
    --gray_900: #222222;
    --gray_900_alpha16: rgba(34, 34, 34, 0.16);
    --gray_900_alpha72: rgba(34, 34, 34, 0.72);
    --gray_900_alpha88: rgba(34, 34, 34, 0.88);
    --gray_960: #0a0a0a;
    --green_alpha16: rgba(75, 179, 75, 0.16);
    --green_350: #4bb34b;
    --green_400: #43a843;
    --green_600: #1b7a1b;
    --green_light: #def0d3;
    --green_nice: #3dcc4b;
    --light_blue_40: #e5ebf1;
    --light_blue_40_alpha72: rgba(229, 235, 241, 0.72);
    --light_blue_80: #dfe6ed;
    --light_blue_100: #dae2ea;
    --light_blue_300: #9eb4c8;
    --light_blue_400: #7996b2;
    --light_blue_500: #577ca1;
    --light_blue_700: #45688e;
    --light_blue_A300: #8fadc8;
    --orange: #ffa000;
    --orange_fire: #f05c44;
    --orange_prominent: #ff724c;
    --raspberry_pink: #e03fab;
    --raspberry_pink_light: #f060c0;
    --purple: #735ce6;
    --purple_light: #937ff5;
    --red: #e64646;
    --red_alpha16: rgba(230, 70, 70, 0.16);
    --red_alpha12: rgba(230, 70, 70, 0.12);
    --red_dark: #db3b3b;
    --red_light: #ffd6cc;
    --red_nice: #ff3347;
    --sky_60: #cce9ff;
    --sky_80: #b2deff;
    --sky_100: #99d3ff;
    --sky_200: #70c1ff;
    --sky_300: #71aaeb;
    --steel_gray_10: #fafbfc;
    --steel_gray_20: #f7f8fa;
    --steel_gray_40: #f0f2f5;
    --steel_gray_60: #edeef0;
    --steel_gray_80: #e7e8ec;
    --steel_gray_100: #dce1e6;
    --steel_gray_120: #d3d9de;
    --steel_gray_140: #c5d0db;
    --steel_gray_200: #aeb7c2;
    --steel_gray_200_alpha12: rgba(174, 183, 194, 0.12);
    --steel_gray_200_alpha16: rgba(174, 183, 194, 0.16);
    --steel_gray_300: #99a2ad;
    --steel_gray_400: #818c99;
    --steel_gray_500: #6f7985;
    --steel_gray_540: #626d7a;
    --steel_gray_600: #4e5966;
    --steel_gray_A540: #55677d;
    --steel_gray_A540_alpha64: rgba(85, 103, 125, 0.64);
    --transparent_black: rgba(0, 0, 0, 0);
    --transparent_white: rgba(255, 255, 255, 0);
    --turquoise: #63b9ba;
    --violet: #792ec0;
    --violet_dark: #1f1b2c;
    --violet_light: #a393f5;
    --violet_muted: #4b4d61;
    --white: #ffffff;
    --white_alpha72: rgba(255, 255, 255, 0.72);
    --white_alpha64: rgba(255, 255, 255, 0.64);
    --white_alpha48: rgba(255, 255, 255, 0.48);
    --white_alpha40: rgba(255, 255, 255, 0.4);
    --white_alpha24: rgba(255, 255, 255, 0.24);
    --white_alpha16: rgba(255, 255, 255, 0.16);
    --white_alpha12: rgba(255, 255, 255, 0.12);
    --white_alpha8: rgba(255, 255, 255, 0.08);
    --white_alpha4: rgba(255, 255, 255, 0.04);
    --white_blue20: #cce4ff;
    --white_blue32: #add3ff;
    --yellow: #ffc107;
    --yellow_light: #faefd2;
    --yellow_alpha16: rgba(255, 202, 99, 0.16);
    --lavender_100: #e6e9ff;
    --lavender_200: #ccd3ff;
    --lavender_300: #adb8ff;
    --lavender_700: #5965b3;
    --lavender_800: #404980;
    --lavender_900: #262b4d;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type="checkbox"]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

input[type="checkbox"]:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

input[type="checkbox"]:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="checkbox"]:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

input[type="checkbox"]:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

input[type="checkbox"]:disabled+label::before {
    background-color: #e9ecef;
}

input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="radio"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type="radio"]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

input[type="radio"]:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

input[type="radio"]:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="radio"]:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

input[type="radio"]:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

input[type="radio"]:disabled+label::before {
    background-color: #e9ecef;
}

body {
    background: var(--gray_40);
}

.content {

    header {
        height: 49px;
        position: sticky;
        top: 0;
        z-index: 2;
        flex: 0 0 auto;
        border-bottom: 1px solid var(--gray_200);
        background: #fff;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1198px;
            padding: 0 20px;
            margin: auto;
            font-family: Roboto, sans-serif;

            .flex-elemnt {
                display: flex;
                flex: 0 0 auto;
            }

            .header__project {
                .header__project_logo {
                    img {
                        height: 24px;
                        width: 24px;
                        border-radius: 8px;
                    }
                }

                .header__project_designation {
                    margin-left: 10px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                }
            }

            .header__navigation {
                .header__navigation__item {
                    padding: 6px 2px 6px 2px;
                    margin: 0 10px 0 10px;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: .2px;
                    color: #656565;
                    text-decoration: none;
                }

                .link {
                    border-bottom: 2px solid #2787f5;
                    color: #000;
                }
            }

            .header__buttons {
                display: flex;
                align-items: center;
                padding: 8px 10px;
                color: #2787f5;
                text-decoration: none;

                .header__buttons_item {
                    height: 32px;
                    margin-left: 10px;

                    svg {
                        height: 32px;
                        width: 32px;
                        fill: var(--azure_a100);

                        path {
                            fill: var(--azure_a100);
                        }
                    }
                }

                .header__buttons_item:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .body {
        height: calc(100% - 90px);
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 41px;
        border-top: 1px solid var(--gray_200);
        background: #fff;
        z-index: 2;

        .footer {
            display: flex;
            justify-content: space-between;
            max-width: 1198px;
            margin: auto;
            padding: 4px 20px;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
            font-family: Roboto, sans-serif;

            .footer_copyright {
                padding: 6px 0px;
            }

            .footer_navbar {
                display: flex;

                a {
                    padding: 6px 0px;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

body {
    background: #edeef0;
    height: auto;

    .body__content {
        header {
            font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
            background: #fff;
            position: fixed;
            top: 0;
            height: 50px;
            width: 100%;

            .header {
                margin: auto;
                width: 96%;
                height: 100%;

                .header__1 {
                    float: left;
                }

                .header__2 {
                    float: right;

                    .header__2__item {
                        margin: 9px 0 9px 0;

                        .header__2__item__block {
                            float: left;
                            margin-top: -1px;
                        }

                        .header__2__item__setting {
                            float: right;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .ava {
                float: left;
                padding: 5px;
                margin-top: 10px;
                margin-left: 5px;
                background-image: url(../img/vk.png);
                background-size: auto 30px;
                height: 30px;
                width: 30px;

                img {
                    height: 30px;
                    width: 30px;
                }
            }

            .name_text_block {
                padding-top: 10px;
                padding-bottom: 5px;
                margin-left: 46px;

                .name_text {
                    left: 460px;
                    top: 10px;
                    bottom: 0px;
                    right: 0px;
                    font-weight: 600;
                    font-size: 14px;
                    color: #2a5885;
                }

                .name_text_2 {
                    color: #939393;
                    top: 24px;
                    padding-top: 1px;
                }
            }
        }

        .tb-content {
            font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
            margin: 20px auto auto auto;
            width: 96%;

            .tb-content_table {
                .table {
                    border: 1px solid #000;
                    border-radius: 8px;
                    max-width: 100%;
                    overflow: hidden;

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        tr {
                            background: #fff;
                            font-size: 15px;
                            line-height: 20px;

                            th,
                            td {
                                padding: 6px 9px;
                                border-right: 1px solid #000;
                            }

                            td {
                                border-top: 1px solid #000;
                                text-align: center;
                            }

                            td:nth-child(1) {
                                width: 36px;
                            }

                            td:nth-child(2),
                            td:nth-child(6) {
                                width: 12%;
                            }

                            td:nth-child(3),
                            td:nth-child(4),
                            td:nth-child(5) {
                                width: 10%;
                            }

                            th:nth-child(8),
                            td:nth-child(8),
                            th:nth-child(9),
                            td:nth-child(9) {
                                div {
                                    text-align: center;
                                    width: 22px;
                                    height: 22px;
                                    background-repeat: no-repeat;
                                }
                            }

                            td:nth-child(8):hover,
                            td:nth-child(9):hover {
                                background: #dedcf7;
                                cursor: pointer;
                                transition: all 1s ease 0s;
                            }

                            th:nth-child(8),
                            td:nth-child(8) {
                                div {
                                    background-image: url(../img/replay_24.svg);
                                }
                            }

                            th:nth-child(9),
                            td:nth-child(9) {
                                div {
                                    background-image: url(../img/delete_outline_24.svg);
                                }
                            }

                            th:nth-child(8),
                            th:nth-child(9),
                            td:nth-child(8),
                            td:nth-child(9) {
                                width: 42px;
                                max-width: 42px;
                            }

                            th:last-child,
                            td:last-child {
                                border-right: none;
                            }
                        }

                        tbody:nth-child(2n+1) tr {
                            background: #E5E5E5;
                        }

                        tbody:nth-child(1) tr {
                            background: #fcf4e3;
                        }
                    }
                }
            }

            .tb-content_button {
                margin-top: 20px;

                .buttons {
                    background: #fff;
                    padding: 12px;
                    width: 100%;
                    border-radius: 8px;
                    display: flex;

                    button {
                        flex: 0 1 20%;
                        margin-right: 8px;
                        padding: 7px 3px 8px 3px;
                        background: #e5ebf1;
                        border-radius: 4px;
                        text-align: center;
                        color: #55677d;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    button:last-child {
                        margin-right: 0;
                    }
                }
            }

            .tb-content_code {
                .write_code {
                    display: none;
                    background: #fff;
                    width: 100%;
                    border-radius: 8px;
                    margin-top: 20px;
                    padding: 12px;

                    .write_code__info {
                        font-size: 15px;
                        line-height: 20px;
                    }

                    .write_code__text {
                        margin-top: 20px;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                .read_code {
                    display: none;
                    background: #fff;
                    width: 100%;
                    border-radius: 8px;
                    margin-top: 20px;
                    padding: 12px;

                    div[role="textbox"] {
                        background: #e5ebf1;
                        border-radius: 4px;
                        padding: 12px;
                        font-size: 12px;
                        line-height: 15px;
                    }

                    button {
                        margin-top: 16px;
                        width: 100%;
                        background: #e5ebf1;
                        border-radius: 4px;
                        padding: 12px;
                        text-align: center;
                        color: #55677d;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .body__window {
        display: none;

        .body__window__window {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            overflow: hidden;
            z-index: 5;

            .body__window__window__item {
                font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
                margin: 20px auto 20px auto;
                width: 96%;
                height: 95%;

                .table {
                    border: 1px solid #000;
                    border-radius: 8px;
                    overflow: auto;
                    max-height: 90%;

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        tr {
                            background: #fff;
                            font-size: 15px;
                            line-height: 20px;

                            th,
                            td {
                                padding: 6px 9px;
                                border-right: 1px solid #000;
                            }

                            td {
                                border-top: 1px solid #000;
                                text-align: center;
                            }

                            td:nth-child(1) {
                                width: 36px;
                            }

                            td:nth-child(2),
                            td:nth-child(3),
                            td:nth-child(4),
                            td:nth-child(5) {
                                width: 14%;
                            }

                            th:last-child,
                            td:last-child {
                                border-right: none;
                            }
                        }

                        tbody:nth-child(2n+1) tr {
                            background: #E5E5E5;
                        }

                        tbody:nth-child(1) tr {
                            background: #fcf4e3;
                        }
                    }
                }

                button {
                    width: 100%;
                    margin-top: 20px;
                    padding: 8px 3px 9px 3px;
                    background: #e5ebf1;
                    border-radius: 4px;
                    text-align: center;
                    color: #55677d;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    .body__window2 {
        display: none;

        .body__window2__window {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            overflow: hidden;
            z-index: 5;

            .body__window2__window__item {
                font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
                margin: 20px auto 20px auto;
                width: 96%;
                height: 95%;

                .password {
                    width: 35%;
                    margin: 15% auto auto auto;
                    background: #fff;
                    border-radius: 8px;
                    border: 1px solid #dce1e6;
                    padding: 25px;

                    .password__title {
                        padding: 0px 9px 25px 9px;
                        text-align: center;
                        font-size: 21px;
                        line-height: 25px;
                        font-weight: 700;
                    }

                    .password__content {
                        input {
                            width: 100%;
                            margin-bottom: 22px;
                            border: 1px solid #d3d9de;
                            border-radius: 6px;
                            padding: 7px 8px 8px 7px;
                            font-size: 14px;
                            line-height: 19px;
                        }

                        button {
                            width: 100%;
                            padding: 7px 3px 8px 3px;
                            background: #e5ebf1;
                            border-radius: 4px;
                            text-align: center;
                            color: #55677d;
                            font-size: 14px;
                            line-height: 19px;
                            margin-bottom: 22px;
                        }

                        .reset {
                            display: none;
                        }

                        .password__content__text {
                            text-align: center;
                            color: #626d7a;
                            font-size: 11px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
    }

    .body__window3 {
        display: none;

        .body__window3__window {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            overflow: hidden;
            z-index: 5;

            .body__window3__window__item {
                font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
                margin: 20px auto 20px auto;
                width: 96%;
                height: 95%;

                .settings {
                    width: 55%;
                    margin: 8% auto auto auto;
                    background: #fff;
                    border-radius: 8px;
                    border: 1px solid #dce1e6;
                    padding: 25px;

                    .settings__item {
                        border-bottom: 2px solid #dce1e6;
                        margin-bottom: 20px;

                        .settings__item__title {
                            font-size: 16px;
                            padding-left: 1px;
                            line-height: 19px;
                            font-weight: 600;
                        }

                        .settings__item__content {
                            margin-top: 12px;
                            padding-bottom: 12px;

                            .settings__item__content-input {
                                width: 100%;

                                input {
                                    width: 100%;
                                    border: 1px solid #d3d9de;
                                    border-radius: 6px;
                                    padding: 7px 8px 8px 7px;
                                    font-size: 14px;
                                    line-height: 19px;
                                }

                                .radio {
                                    margin-bottom: 8px;
                                }

                                .radio:last-child {
                                    margin-bottom: 0;
                                }

                                label {
                                    font-size: 14px;
                                    line-height: 19px;
                                    width: 100%;

                                    span {
                                        color: #7e868c;
                                    }
                                }
                            }

                            .content-input2 {
                                width: 100%;
                                float: unset;
                            }

                            .exit_settings {
                                width: 100%;
                                padding: 7px 3px 8px 3px;
                                background: #e5ebf1;
                                border: 1px solid #d3d9de;
                                border-radius: 4px;
                                text-align: center;
                                color: #55677d;
                                font-size: 14px;
                                line-height: 19px;
                            }
                        }
                    }

                    .settings__item:last-child {
                        margin-bottom: 0;
                        border-bottom: 0;

                        .settings__item__content {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ТЁМНАЯ ТЕМА ----- ----- ----- ----- */

body.theme-dark {
    .content {
        header {
            background: var(--gray_750);
            border-bottom: 1px solid var(--gray_750);

            .header {
                .header__project {
                    .header__project_designation {
                        color: var(--steel_gray_40);
                    }
                }

                .header__navigation {
                    .header__navigation__item {
                        color: var(--steel_gray_40);
                    }

                    .link {
                        border-bottom: 2px solid var(--steel_gray_40);
                        color: var(--steel_gray_40);
                        font-weight: 600;
                    }
                }

                .header__buttons {
                    color: #2787f5;

                    .header__buttons_item {
                        svg {
                            fill: var(--steel_gray_100);

                            path {
                                fill: var(--steel_gray_100);
                            }
                        }
                    }
                }
            }
        }

        .body {
            background: var(--gray_850);
        }

        footer {
            background: var(--gray_750);
            border-top: 1px solid var(--gray_750);

            .footer {
                .footer_copyright {
                    color: var(--steel_gray_40);
                }
            }
        }
    }
}


/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- АДАПТАЦИЯ ------- ----- ----- ----- */

@media (max-width: 740px) {
    .content {
        header {
            height: 40px;

            .header {
                max-width: 100%;
                padding: 0 10px;

                .header__project {
                    .header__project_designation {
                        display: none;
                    }
                }

                .header__navigation {
                    .header__navigation__item:not(.link) {
                        /*display: none;*/
                    }

                    .link {
                        font-weight: 600;
                        color: #2787f5;
                        border-bottom: 0 !important;
                    }
                }

                .header__buttons {
                    .header__buttons_item {
                        height: 24px;
                        width: 24px;

                        svg {
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        .body {
            height: 100% !important;
        }

        footer {
            display: none;
        }
    }

    .content {
        .body__content {
            .tb-content {
                .tb-content_table {
                    .table {
                        overflow: auto;
                    }
                    -moz-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
                        background-color: #c1c1c1;
                        border-radius: 8px;
                    }
                    -moz-webkit-scrollbar, ::-webkit-scrollbar {
                        background-color: #f1f1f1;
                        width: 12px;
                        height: 12px;
                        border-radius: 8px;
                    }
                }
                .tb-content_button {
                    .buttons {
                        display: block;

                        button {
                            display: block;
                            width: 100%;
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
}